.formHeader {
  font-weight: 500;
}
.formCotainer{
  background-color: #ffffffd3;
  border-radius: 20px;
  min-width: 320px;
  padding: 20px;
}
.inputContainer {
  display: flex;
  background-color: var(--light-blue);
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.loginInput {
  padding: 10px 13px 10px 13px;
  border-radius: 10px;
  border: 1px solid var(--app-background-stripe);
  background: white;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}
.loginInput:focus{
  outline: none;
}